body {
    font-family: Arial, sans-serif;
    background-color: #b8b1b5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
form {
	background-color:  white;
	padding : 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
input[type="text"]:focus {
    border : 2px solid green;
	
}
select, button, input[type="text"]{
	flex: 1;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: #333;
    width: 100%;
}
